<!DOCTYPE html>
<html>
<head>
  <title>SpecScore</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='third'>
  
  <div id='container' class='container'>
    <%= yield %>
  <% if current_user %>
    <%= link_to 'logout', spec_score_registry.destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'login', spec_score_registry.new_user_session_path %>
  <% end %>
    <div id='push'></div>
  </div>
  <%= render('shared/footer') %>
</body>
</html>
